body {font: 15pt "Arial"}
   h1 {font: 20pt/17pt "Arial"; font-weight: bold; color: maroon}
   h2 {font: 18pt/15pt "Arial"; font-weight: bold; color: blue}
   p {font: 16pt/12pt "Arial"; color: black}
